<div class="container mt-4">
  <h2 class="mb-4">Danh sách sinh viên</h2>

  <app-student-form (add)="handleAddStudent($event)"></app-student-form>

  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Tìm kiếm theo tên hoặc email"
           [(ngModel)]="searchTerm">
  </div>

  <div class="mb-3">
    <button class="btn btn-success" (click)="exportCSV()">Export CSV</button>
  </div>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Tên</th>
      <th>Email</th>
      <th>Avatar</th>
      <th>Địa chỉ</th>
      <th>Ngày sinh</th>
      <th>Số điện thoại</th>
      <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of filteredStudents | paginate: { itemsPerPage: 10, currentPage: page }"
        (click)="goToDetail(student.id)">
      <td style="cursor: pointer;">{{ student.id }}</td>
      <td style="cursor: pointer;">{{ student.name }}</td>
      <td style="cursor: pointer;">{{ student.email }}</td>
      <td style="cursor: pointer;">
        <img [src]="student.avatar" alt="Avatar" width="50" height="50" class="rounded"/>
      </td>
      <td style="cursor: pointer;">{{ student.address }}</td>
      <td style="cursor: pointer;">{{ student.dateOfBirth }}</td>
      <td style="cursor: pointer;">{{ student.phone }}</td>
      <td>
        <button class="btn btn-primary btn-sm me-2" (click)="openEdit(student, $event)">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="openDeleteModal(student, $event)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <app-confirm-dialog
    [title]="'Xoá sinh viên'"
    [message]="'Bạn có chắc chắn muốn xoá sinh viên này không?'"
    [confirmText]="'Xoá'"
    [cancelText]="'Hủy'"
    (confirm)="confirmDelete()"
  ></app-confirm-dialog>

</div>
